<div class="references-main">
    <div class="reference-wrapper">
        <div class="reference-info-container">
            <img class="apostrophe-style" src="assets/img/apostrophe.png" alt="">
            <span *ngIf="anjaSelected"> {{ 'referenceAnja' | translate }}</span>
            <span *ngIf="dennisSelected"> {{ 'referenceDennis' | translate }}</span>
            <span *ngIf="danielSelected"> {{ 'referenceDaniel' | translate }}</span>
            <div class="reference-author-container">
                <div class="reference-line"></div>
                <span *ngIf="anjaSelected">{{nameAnja}} - {{ 'engineer' | translate }}</span>
                <span *ngIf="dennisSelected">{{nameDennis}} - {{ 'teamPartner' | translate }}</span>
                <span *ngIf="danielSelected">{{nameDaniel}} - {{ 'teamPartner' | translate }}</span>
            </div>
        </div>
        <div class="author-img-container">
            <img *ngIf="anjaSelected" [src]="pictureAnja" alt="">
            <img *ngIf="dennisSelected" [src]="pictureDennis" alt="">
            <img *ngIf="danielSelected" [src]="pictureDaniel" alt="">
        </div>
        <div class="author-line"></div>
    </div>
    <div class="forward-and-back-container">
        <img (click)="previousReference()" src="assets/img/arrow_back.png" alt="">
        <div class="ellipse-wrapper">
            <div [class.ellipse-active]="anjaSelected" class="ellipse-unactive"></div>
            <div [class.ellipse-active]="dennisSelected" class="ellipse-unactive"></div>
            <div [class.ellipse-active]="danielSelected" class="ellipse-unactive"></div>
        </div>

        <img (click)="nextReference()" src="assets/img/arrow_forward.png" alt="">
    </div>
</div>