.references-main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    justify-content: center;
    padding-top: 180px;
}

.reference-info-container {
    position: relative;
    height: 272px;
    max-width: 851.5px;
    border: 4px solid #9747FF ;
    border-radius: 32px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    z-index:3;
    
    >span{
        padding: 48px 96px;
    }
}

.reference-author-container {
    display: flex;
    align-items: center;
    padding: 0 96px;
    gap: 16px;
}

.reference-line {
    width: 100%;
    height: 0;
    flex: 1;
    border: 2px solid rgba(28, 218, 230, 1);
    border-radius: 32px;
}

.author-img-container {
    border-radius: 1000px;
    height: 272px;
    width: 272px;
    border: 4px solid #70E61C ;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 100%;
        rotate: 90deg;
        aspect-ratio: 1 / 1;
    }
}

.apostrophe-style {
    position: absolute;
    left: -72px;
    bottom: 240px;
}

.author-line {
    border: 2px solid #70E61C;
    height: 0;
    position: absolute;
    right: 0;
    min-width: 564px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.reference-wrapper {
    display: flex;
    align-items: center;
    gap: 44px;
    justify-content: space-between;
}

.forward-and-back-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    >img {
        padding: 4px;
        &:hover {
            border-radius: 50px;
            border: 2px solid #9747FF;
            cursor: pointer;
        }
    }
}

.ellipse-active{
    height: 8px;
    width: 8px;
    background: #70E61C;
    border-radius: 50px;
}

.ellipse-unactive {
    height: 8px;
    width: 8px;
    background: #9747FF;
    border-radius: 50px;
}