<div class="references-main">
    <div class="reference-wrapper">
        <div class="reference-info-container">
            <img class="apostrophe-style" src="assets/img/apostrophe.png" alt="">
            <span>Michael really kept the team together with his great organization and clear communication. We wouldn't have got this far without his commitment.</span>
            <div class="reference-author-container">
                <div class="reference-line"></div>
                <span>V.Schuster - Team Partner</span>
            </div>
        </div>
        <div class="author-img-container">
            <img src="assets/img/reference-img.png" alt="">
        </div>
        <div class="author-line"></div>
    </div>
    <div class="forward-and-back-container">
        <img src="assets/img/arrow_back.png" alt="">
        <div class="ellipse-active"></div>
        <div class="ellipse-unactive"></div>
        <div class="ellipse-unactive"></div>
        <img src="assets/img/arrow_forward.png" alt="">
    </div>
</div>
