<div data-aos="fade-up" class="about-me-main">
    <div class="about-me-container">
        <h3  class="about-me-headline">{{ 'aboutMe' | translate}}</h3>
        <div class="about-me-text">
            <span class="about-me-intro">{{ 'aboutMeIntro' | translate }}</span>
            <span>{{ 'aboutMeDescription' | translate }}</span>
            <span class="about-me-letsconnect">{{ 'aboutMeLetsConnect' | translate }}</span>
        </div>
        
        <div class="about-me-info-container">
            <div class="about-me-info">
                <img class="about-me-img" src="assets/img/location.png" alt="">
                <span>{{ 'workLocation' | translate }}</span>
            </div>
            <div class="about-me-info">
                <img class="about-me-img" src="assets/img/lightbulp.png" alt="">
                <span>{{ 'continuousLearning' | translate }}</span>
            </div>
            <div class="about-me-info">
                <img class="about-me-img" src="assets/img/puzzle.png" alt="">
                <span>{{ 'problemSolving' | translate }}
                </span>
            </div>
        </div>
    </div>
    <div class="personal-img-container">
        <img class="profile-img" src="assets/img/profile.png" alt="">
    </div>
</div>
<div class="curved-section-container"></div>
