.about-me-main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    background-image: url('/assets/img/purple-shadow-about-me.png'), url('/assets/img/green-shadow-about-me.png');
    background-position: 75%, right;
    background-size: 480px;
    background-repeat: no-repeat;
}

.about-me-headline {
    white-space: nowrap;
    font-size: 90px;
    color: white;
}

.about-me-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 471px !important;
    height: 133px;
    position: relative;
    z-index: 4;
}

.about-me-info-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-me-info {
    display: flex;
    gap: 16px;
    align-items: center;

    >span {
        font-size: 16px;
    }
}

.about-me-img {
    transition: all 125ms ease-in-out;

    &:hover {
        transform: scale(1.2);
    }
}

.profile-img {
    width: 100%;
    max-width: 620px;
    max-height: 647px;
    display: flex;
}

.curved-section-container {
    display: flex;
    height: 878.5px;
    width: 100%;
    background-image: url('/assets/img/28. Hero Background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: -258px;
    position: relative;
    z-index: 0;
}

.about-me-letsconnect {
    padding-top: 16px;
}

.about-me-text {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.profile-img-container {
    position: relative;
    display: flex;
    z-index: -2;
    justify-content: end;
    padding: 0 8px;
    padding-bottom: 24px;
}

@media(max-width: 1260px) {
    .personal-img-container {
        background-position: 24% 140%, 100% 120%;
        background-size: 56% 82%, 60% 68%;
    }

    .about-me-main {
        flex-direction: column-reverse;
        align-items: center;
        background-position: 24%, 75%;
        background-size: 480px;
    }

    .curved-section-container {
        position: relative;
        background-size: cover;
        margin-top: -492px;
        z-index: -1;
    }

    .about-me-container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .profile-img {
        margin-bottom: 0;
    }
}

@media(max-width: 840px) {
    .curved-section-container {
        background-size: cover;
        margin-top: -492px;
    }

    .about-me-container {
        padding-left: 25px;
        padding-right: 25px;
        width: calc(100% - 50px) !important;
    }

    .about-me-headline {
        font-size: 45px;
        padding-top: 24px;
    }
    .about-me-main {
        flex-direction: column-reverse;
        align-items: center;
        background-position: 24%, 75%;
        background-size: 340px, 340px;
    }
}