<div class="hero-main">  
    <div class="shadows-hero-container">
        <img class="purple-shadow" src="assets/img/30. Purple shadow about me.png" alt="">
        <img class="blue-shadow" src="assets/img//52. Blue shadow 1 V2.png" alt="">
    </div>
    <div class="person-container">
        <div class="i-am-container">
            <span>{{'iAm' | translate}}</span>
        </div>
        <div>
            <div class="name-container">
                <h1>Leon Dorsch</h1>
                <h2>{{'frontendDeveloper' | translate}}</h2>
            </div>
        </div>
    </div>
    <div class="lets-talk-button">
        <button>{{'letsTalk' | translate}}</button>
    </div>
    <div class="hero-footer">
        <div class="socials-container">
            <div class="socials-line"></div>
            <div class="socials">
                <a href="#"><img src="assets/img/github-logo.png" alt=""></a>
                <a href="#"><img src="assets/img/mail-logo.png" alt=""></a>
                <a href="#"><img src="assets/img/linkedin-logo.png" alt=""></a>
            </div>
        </div>
        <div class="scroll-down-container">
            <div class="scroll-down-text">
                <span>{{'scrollDown' | translate}}</span>
            </div>
            <div class="scroll-down-img">
                <img src="assets/img/arrow-hero.png" alt="">
            </div>
        </div>
    </div>
</div>