.hero-main {
    min-height: 100vh;
    background-color: #141D2F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    background-image: url('/assets/img/30. Purple shadow about me.png'), url('/assets/img//52. Blue shadow 1 V2.png');
    background-position: 20% 16%, 86% 0%;
    background-size: 30% 42%, 24% 60%;
    background-repeat: no-repeat, no-repeat;
}

.person-container {
    margin: 0 auto;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.name-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

    >h1 {
        font-size: 128px;
        font-weight: 700;
        height: 149px;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    >h2 {
        height: 69px;
        font-size: 64px;
        font-weight: 400;
        color: #9747FF;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
}

.i-am-container {
    transform: rotate(-90deg);
    height: 108px;
    width: 200px;

    >span {
        color: white;
        font-size: 90px;
        white-space: nowrap;
    }
}

.lets-talk-button {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    >button {
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        z-index: 1;
        padding: 15px 30px;
        background-color: #70E61C;
        color: white;
        height: 58px;
        border-radius: 10px;
        border: unset;
        font-size: 23px;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.1);
            background-color: #9747FF;

        }
    }
}

.hero-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
}

.socials-container {
    margin-left: 100px;
    display: flex;
    z-index: 1000;
    align-items: center;
    gap: 42px;

}

.socials-line {
    position: absolute;
    width: calc(50% - 640px);
    min-width: 68px;
    left: 0;
    height: 0;
    border: 2px solid rgba(112, 230, 28, 1);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.socials {
    margin-right: 42px;
    display: flex;
    gap: 42px;
    z-index: 3;
    background-color: #141D2F;

    >a {
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.scroll-down-container {
    color: white;
    display: flex;
    align-items: center;
    gap: 3px;
    transform: rotate(90deg);
    padding-right: 120px;
}

.scroll-down-text {
    >span {
        white-space: nowrap;
        font-size: 23px;
    }
}

.scroll-down-img {
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.purple-shadow {
    position: absolute;
    transform: rotate(-46.66 deg);
    display: flex;
    z-index: 0;
    top: -192px;
    right: 172px;
}

.blue-shadow {
    position: absolute;
    transform: rotate(26.87 deg);
    display: flex;
    z-index: 0;
    top: -268px;
    left: 364px;
}

@media(max-width: 1260px) {
    .hero-main {
        background-position: 10% 20%, 100% 18%;
        background-size: 30% 42%, 24% 40%;
    }

    .socials-container {
        margin-left: 100px;
    }

    .i-am-container {
        display: flex;
        justify-content: center;

        >span {
            font-size: 72px;
        }
    }

    .name-container {
        >h1 {
            font-size: 84px;
            height: unset;
        }

        >h2 {
            font-size: 48px;
        }
    }

    .blue-shadow {
        left: 292px;
    }

    .purple-shadow {
        right: 62px;
    }
}

@media(max-width:840px) {

    .hero-main {
        background-position: 18% 20%, 88% 16%;
        background-size: 30% 32%, 24% 32%;
    }
    .i-am-container {
        height: unset;
        width: unset;

        >span {
            font-size: 32px;
        }
    }

    .name-container {
        >h1 {
            font-size: 40px;
            height: unset;
        }

        >h2 {
            font-size: 24px;
            height: unset;
        }
    }

    .socials {
        background-color: transparent;
    }

    .blue-shadow {
        left: 148px;
    }

    .purple-shadow {
        right: 62px;
    }
}

@media (max-width: 480px) {
    .hero-main {
        background-position: 5% 24%, 100% 20%;
        background-size: 30% 24%, 30% 24%;
    }

    .i-am-container {
        height: unset;
        width: unset;

        >span {
            font-size: 24px;
        }
    }

    .socials-container {
        margin-left: unset;
    }

    .name-container {
        >h1 {
            font-size: 32px;
            height: unset;
        }

        >h2 {
            font-size: 18px;
            height: unset;
            margin-bottom: unset;
        }
    }

    .purple-shadow {
        right: 0;
        height: 292px;
        top: -140px;
    }

    .blue-shadow {
        left: 40px;
        height: 272px;
        top: 0;
    }

    .scroll-down-container {
        display: none;
    }

    .hero-footer {
        justify-content: center;
    }

    .socials {
        margin-right: unset;
    }
}