<div id="hero" class="hero-main">  
    <div class="shadows-hero-container">
        <img class="purple-shadow" src="assets/img/30. Purple shadow about me.png" alt="">
        <img class="blue-shadow" src="assets/img//52. Blue shadow 1 V2.png" alt="">
    </div>
    <div class="person-container">
        <div class="i-am-container">
            <span>{{'iAm' | translate}}</span>
        </div>
        <div>
            <div class="name-container">
                <h1>Leon Dorsch</h1>
                <h2>{{'frontendDeveloper' | translate}}</h2>
            </div>
        </div>
    </div>
    <div >
        <a class="lets-talk-button" href="#contact">
            <button>{{'letsTalk' | translate}}</button>
        </a>
        
    </div>
    <div class="hero-footer">
        <div class="socials-container">
            <div class="socials-line"></div>
            <div class="socials">
                <a target="_blank" href="https://github.com/leondorsch"><img src="assets/img/github-logo.png" alt=""></a>
                <a target="_blank" href="mailto:leon.dorsch@gmx.de"><img src="assets/img/mail-logo.png" alt=""></a>
                <a target="_blank" href="https://www.linkedin.com/in/leon-dorsch/"><img src="assets/img/linkedin-logo.png" alt=""></a>
            </div>
        </div>
        <div class="scroll-down-container">
            <div class="scroll-down-text">
                <span>{{'scrollDown' | translate}}</span>
            </div>
            <div class="scroll-down-img">
                <img src="assets/img/arrow-hero.png" alt="">
            </div>
        </div>
    </div>
</div>