<div class="contact-main">

    <div class="contact-head">
        <div class="contact-line"></div>
        <h6>{{ 'contactHead' | translate }}</h6>
    </div>

    <div class="contact-wrapper">

        <div class="contact-text-container">
            <span>{{ 'contactQuestion' | translate }}</span>
            <span>
                {{ 'contactInfo' | translate }}
            </span>
            <span>{{ 'needFrontend' | translate }} <span>{{ 'contactMe' | translate }}</span></span>
        </div>
        <div class="form-section-wrapper">
            <form class="contact-form" action="">
                <input class="name-input" type="text" placeholder="{{ 'placeholderName' | translate }}">
                <input class="email-input" type="email" placeholder="{{ 'placeholderEmail' | translate }}">
                <input class="message-input" type="text" placeholder="{{ 'placeholderMessage' | translate }}">
                <div class="checkbox-container">
                    <input type="checkbox">
                    <span>{{ 'iveRead' | translate }}<a style="color: #9747FF;" href=""> {{ 'Policy' | translate }} </a>{{ 'processDataText' | translate }}</span>
                </div>
                <button disabled>{{ 'sendMessage' | translate }}</button>
            </form>
            <div class="go-up-btn-container">
                <img src="assets/img/4. Go up button.png" alt="">
            </div>
            <img src="assets/img/Purple shadow 2.png" alt="">
        </div>
        
    </div>
</div>