.contact-main {
    padding: 160px 100px 0px 100px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 180px;
}

h6 {
    text-align: center;
    font-size: 90px;
    padding-bottom: 48px;
    background-color: #141D2F;
    display: flex;
    z-index: 3;
}

.contact-wrapper {
    display: flex;
    justify-content: space-around;


}

.contact-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 573px;

    :nth-child(3) {
        max-width: 473px;
    }
}

.contactQuestion {
    font-weight: 700;
    font-size: 32px;
    background-color: #141D2F;
}

.contact-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    max-width: 617px;
    position: relative;
    z-index: 0;

    >button {
        background: #B6B6B6;
        width: 253px;
        height: 58px;
        gap: 10px;
        border-radius: 10px;
        border: none;
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        font-family: Poppins;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0%;
        color: white;
    }
}

.button-active {
    transition: all 125ms ease-in-out;
    background-color: #70E61C !important;

    &:hover {
        transform: scale(1.1);
        background-color: #9747FF !important;
    }
}

.name-input {
    width: 100%;
    max-width: 617px;
    height: 50px;
    gap: 10px;

}

.email-input {
    width: 100%;
    max-width: 617px;
    height: 50px;
    gap: 10px;
}

.message-input {
    width: 100%;
    max-width: 617px;
    gap: 10px;
    padding-bottom: 165px;
    padding-top: 15px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label {
    display: inline-block;
    padding: 0;
    background: url('/assets/img/input-unchecked.png');
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
    background-size: 100%;
    flex-shrink: 0;

    &:hover {
        background: url('/assets/img/checkbox-hover.png');
        background-repeat: no-repeat;
        height: 30px;
        width: 30px;
        display: inline-block;
        padding: 0;
        background-size: 100%;
    }
}

input[type=checkbox]:checked+label {
    background: url("/assets/img/input-checked.png") no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
    background-size: 100%;
}

.contact-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-info-head-wrapper {
    display: flex;
    align-items: center;
}

.contact-line {
    height: 0;
    border: 2px solid #70E61C;
    position: absolute;
    right: 0;
    width: calc(50% - 106px);
    flex: 1;
    margin-bottom: 36px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.question-line {
    height: 0;
    border: 2px solid #1CDAE6;
    position: absolute;
    left: 0;
    width: calc(50% - 680px);
    flex: 1;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    z-index: -1
}

.form-section-wrapper {
    >img {
        position: absolute;
        width: 608px;
        top: 4480px;
        right: 0;
        backdrop-filter: blur(93px);
        display: flex;
        z-index: -2;
    }
}

.go-up-btn-container {
    padding: 48px 16px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: end;

    >a {
        background-image: url('/assets/img/4. Go up button.png');
        background-repeat: no-repeat;
        height: 40px;
        width: 40px;

        &:hover {
            background-image: url('/assets/img/go-up-btn-hover.png');
            background-repeat: no-repeat;
            height: 40px;
            width: 40px;
        }
    }
}

.message-error-text {
    color: #E61C40;
    position: absolute;
    bottom: 144px;
    left: -4px;
}

.email-error-text {
    color: #E61C40;
    position: absolute;
    top: 208px;
    left: -4px;
}

.name-error-text {
    color: #E61C40;
    position: absolute;
    top: 88px;
    left: -4px;
}

.red-border {
    border: 1px solid #E61C40;
}

.green-border {
    border: 1px solid #70E61C;
}

.name-alert-img {
    display: flex;
    z-index: 1000;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 48px;
    right: 8px;
}

.name-fine-img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 48px;
    right: 8px;
}

.email-alert-img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 164px;
    right: 8px;
}

.email-fine-img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 164px;
    right: 8px;
}

.message-alert-img {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 348px;
    right: 8px;
}

.message-fine-img {
    height: 25px;
    width: 25px;
    position: absolute;
    bottom: 348px;
    right: 8px;
}

.checkbox-error-text {
    color: #E61C40;
    position: absolute;
    bottom: 72px;
    left: -4px;
}

.email-notification{
    position: absolute;
    right: 0;
    background-color: #141D2F;
    height: 160px;
    width: 160px;
    font-size: 16px;
    animation: popup 3s forwards;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    padding: 16px;
}

@keyframes popup {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
        display: none;
    }
}

@media(max-width: 1260px){
    .contact-main{
        padding: 160px 25px 0px 25px;
    }

    .contact-head{
        >h6{
            font-size: 45px;
        }
    }

    .message-alert-img{
        bottom: 368px;
    }

    .question-line{
        min-width: 24%;
    }

    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contactQuestion {
        white-space: nowrap;
        font-size: 20px;
    }

    .message-fine-img{
        bottom: 368px;
    }

    .message-error-text{
        bottom: 162px;
    }
    .checkbox-container{
        padding-bottom: 40px;
        >span{
            font-size: 14px;
        }
    }

    .form-section-wrapper{
        >img{
            top: 7200px;
            width: 238px;
        }
    }
}

@media(max-width: 660px){
    .message-alert-img{
        bottom: 386px;
    }

    .message-error-text{
        bottom: 172px;
    }
}

@media (max-width: 480px) {
    .contact-main{
        padding: 160px 25px 0px 25px;
    }

    .contact-head{
        >h6{
            font-size: 45px;
        }
    }

    .contact-wrapper {
        flex-direction: column;
    }

    .contactQuestion {
        white-space: nowrap;
        font-size: 20px;
    }

    .message-fine-img{
        bottom: 386px;
    }
    .checkbox-container{
        padding-bottom: 40px;
        >span{
            font-size: 14px;
        }
    }

    .form-section-wrapper{
        >img{
            top: 6400px;
            width: 238px;
        }
    }
}