<div class="contact-main">

    <div class="contact-head">
        <div class="contact-line"></div>
        <h6>Contact</h6>
    </div>

    <div class="contact-wrapper">

        <div class="contact-text-container">
            <span>Got a problem to solve?</span>
            <span>
                Encourage people to contact you and describe what role you are interested in. Show that you will add
                value to their projects through your work.
            </span>
            <span>Need a Frontend developer? <span>Contact me!</span></span>
        </div>
        <div class="form-section-wrapper">
            <form class="contact-form" action="">
                <input class="name-input" type="text" placeholder="Your name">
                <input class="email-input" type="email" placeholder="Your email">
                <input class="message-input" type="text" placeholder="Your message">
                <div class="checkbox-container">
                    <input type="checkbox">
                    <span>I've read the<a style="color: #9747FF;" href=""> privacy policy </a>and agree to the processing of
                        my data as outlined.</span>
                </div>
                <button disabled>Send message</button>
            </form>
            <div class="go-up-btn-container">
                <img src="assets/img/4. Go up button.png" alt="">
            </div>
            <img src="assets/img/Purple shadow 2.png" alt="">
        </div>
        
    </div>
</div>