<div class="contact-main">

    <div class="contact-head">
        <div class="contact-line"></div>
        <h6>{{ 'contactHead' | translate }}</h6>
    </div>

    <div class="contact-wrapper">

        <div class="contact-text-container">
            <div class="contact-info-head-wrapper">
                <div class="question-line"></div>
                <span class="contactQuestion">{{ 'contactQuestion' | translate }}</span>
            </div>
            <span>
                {{ 'contactInfo' | translate }}
            </span>
            <span>{{ 'needFrontend' | translate }} <span><b>{{ 'contactMe' | translate }}</b></span></span>
        </div>
        <div class="form-section-wrapper">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="contact-form">

                <label for="name"></label>
                <input data-aos="zoom-in" [class.green-border]="name.valid && name.touched"
                    [class.red-border]="!name.valid && name.touched" #name="ngModel" [(ngModel)]="contactData.name"
                    class="name-input" id="name" name="name" type="text"
                    placeholder="{{ 'placeholderName' | translate }}" required>
                <span class="name-error-text" *ngIf="!name.valid && name.touched">{{ 'nameRequired' | translate
                    }}</span>
                <img *ngIf="!name.valid && name.touched" class="name-alert-img" src="assets/img/input-alert.png" alt="">
                <img *ngIf="name.valid && name.touched" class="name-fine-img" src="assets/img/input-fine.png" alt="">

                <label for="email"></label>
                <input data-aos="zoom-in" [class.green-border]="email.valid && email.touched"
                    [class.red-border]="!email.valid && email.touched" #email="ngModel" [(ngModel)]="contactData.email"
                    class="email-input" id="email" name="email" type="email"
                    placeholder="{{ 'placeholderEmail' | translate }}" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                <span class="email-error-text" *ngIf="!email.valid && email.touched">{{ 'emailRequired' | translate
                    }}</span>
                <img *ngIf="!email.valid && email.touched" class="email-alert-img" src="assets/img/input-alert.png"
                    alt="">
                <img *ngIf="email.valid && email.touched" class="email-fine-img" src="assets/img/input-fine.png" alt="">

                <label for="message"></label>
                <textarea data-aos="zoom-in" [class.green-border]="message.valid && message.touched"
                    [class.red-border]="!message.valid && message.touched" #message="ngModel"
                    [(ngModel)]="contactData.message" class="message-input" name="message" id="message"
                    placeholder="{{ 'placeholderMessage' | translate }}" required></textarea>
                <span class="message-error-text" *ngIf="!message.valid && message.touched">{{ 'messageRequired' |
                    translate }}</span>
                <img *ngIf="!message.valid && message.touched" class="message-alert-img"
                    src="assets/img/input-alert.png" alt="">
                <img *ngIf="message.valid && message.touched" class="message-fine-img" src="assets/img/input-fine.png"
                    alt="">
                <div *ngIf="wasSent" class="email-notification">
                    <span>{{ 'emailNotification' | translate }}</span>
                </div>
                <div class="checkbox-container">
                    <input id="checkbox" type="checkbox" name="checkbox" [(ngModel)]="isChecked">
                    <label for="checkbox"></label>
                    <span>
                        {{ 'iveRead' | translate }}
                        <a style="color: #9747FF;" href="privacyPolicy"> {{ 'Policy' | translate }}</a>
                        {{ 'processDataText' | translate }}
                    </span>
                </div>
                <span class="checkbox-error-text" *ngIf="!isChecked && name.valid && email.valid && message.valid ">{{
                    'checkedRequired' | translate
                    }}</span>
                <button [disabled]="!isChecked"
                    [class.button-active]="isChecked && name.valid && email.valid && message.valid" value="Submit">{{
                    'sendMessage' | translate
                    }}</button>
            </form>
            <div class="go-up-btn-container">
                <a href="#hero"></a>

            </div>
            <img src="assets/img/Purple shadow 2.png" alt="">
        </div>
    </div>
</div>