<div class="skills-main">
    <div class="symbols-container">
        <div class="symbols">
            <div class="symbol-div">
                <img src="assets/img/Property 1=html.png" alt="">
                <span>HTML</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=css.png" alt="">
                <span>CSS</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=JavScript.png" alt="">
                <span>JavaScript</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=Typescript.png" alt="">
                <span>Typescript</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=Angular.png" alt="">
                <span>Angular</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=Firebase.png" alt="">
                <span>Firebase</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=Git.png" alt="">
                <span>Git</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=Api.png" alt="">
                <span>Rest Api</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=Scrum.png" alt="">
                <span>Scrum</span>
            </div>
            <div class="symbol-div">
                <img src="assets/img/Property 1=Material Design.png" alt="">
                <span>Material Design</span>
            </div>
        </div>
        <div><img src="assets/img/16. Interest.png" alt=""></div>
    </div>

    <div class="skills-container">
        <div class="skills-head">
            <h4>{{ 'skills' | translate }}</h4>
            <div class="skills-line"></div>
        </div>
        <span>{{ 'skillsDescription' | translate }}
        </span>
        <div class="skill-info-container">
            <span class="skill-info-head">{{ 'otherSkill' | translate }} <span class="skill-purple-text">{{ 'otherSkillPurple' | translate }}</span>?</span>
            <span>{{ 'otherSkillInfo' | translate }}</span>
        </div>
        <button>{{ 'skillsContact' | translate }}</button>
    </div>
</div>