.skills-main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    gap: 48px;
    padding: 0 100px;
    margin-top: -480px;
}

.symbols-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.symbols {
    max-width: 664px;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;

    >img {
        width: 54px;
        height: 60px;
    }
}

.symbol-div {
    height: 101px;
    width: 88px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    padding-top: 12px;

    >img {
        transition: all 125ms ease-in-out;

        &:hover {
            animation: logoupdown;
            animation-duration: 0.75s;
            animation-iteration-count: 1;
            animation-timing-function: linear;
        }
    }
}

@keyframes logoupdown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-16px);
    }

    100% {
        transform: translateY(0);
    }
}

.skills-container {
    padding-top: 180px;
    max-width: 471px;
    height: 492px;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.skills-button {
    padding-top: 24px;
    >button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 30px;
        background-color: #70E61C;
        color: white;
        height: 58px;
        width: fit-content;
        border-radius: 10px;
        border: unset;
        font-size: 23px;
        white-space: nowrap;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: scale(1.1);
            background-color: #9747FF;

        }
    }
}

.skills-head {
    display: flex;
    align-items: center;
    gap: 32px;

    >h4 {
        font-size: 90px;
        line-height: 120%;
        display: flex;
        z-index: 3;
    }
}

.skills-line {
    border: 2px solid #1CDAE6;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    right: 0;
    width: calc(50% - 380px);
}

.line-ger{
    width: calc(50% - 680px);
}


.skill-info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skill-info-container-small {
    display: none;
    flex-direction: column;
    gap: 16px;
}

.skill-info-head {
    font-size: 32px;
    font-weight: 700;
}

.skill-purple-text {
    color: #9747FF;
}

.learning-img {
    transition: all 0.75ms ease-in-out;

    &:hover {
        filter: brightness(0) invert(1);
    }
}

.learning-container {
    position: relative;
}

.learning-overlay {
    animation: overlay;
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    position: absolute;
    width: 188px;
    height: 129px;
    top: -101px;
}

@keyframes overlay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@media ( max-width:1260px){

    .skills-head{
        >h4{
            background-color: unset;
        }
    }
    .skills-main {
        flex-direction: column-reverse;
        margin-top: 120px;
    }

    .skills-line{
        min-width: 48%;
    }

    .skill-info-container{
        display: none;
    }

    .symbols {
        margin-top: -182px;
        gap: 48px;
        justify-content: center;
    }
    .symbols-container {
        margin-top: 0;
    }

    .symbol-div{
        >img{
            height: 48px;
            width: 48px;
        }
    }

    .skill-info-container-small {
        display: flex;
        text-align: center;
    }

    .skills-button {
        align-self: center;
    }

    .learning-container{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 480px){
    .skills-head{
        >h4{
            background-color: unset;
            font-size: 45px;
        }
    }
    .skills-main{
        padding: 0 25px;
    }

    .skills-line{
        min-width: 48%;
    }

    .skill-info-container{
        display: none;
    }

    .symbols {
        margin-top: -182px;
        gap: 48px;
        justify-content: center;
    }
    .symbols-container {
        margin-top: 0;
    }

    .symbol-div{
        >img{
            height: 48px;
            width: 48px;
        }
    }

    .skill-info-container-small {
        display: flex;
        text-align: end;
    }

    .skills-button {
        align-self: center;
    }

    .learning-container{
        display: flex;
        justify-content: center;
    }
}