<div  class="portfolio-main">
    <img class="blue-shadow" src="assets/img/Blue shadow 1.png" alt="">
    <div style="display: flex; align-items: center;">
        <div class="portfolio-line"></div>
        <div class="portfolio-head">
            <div class="portfolio-head-text">
                <h5>Portfolio</h5>
            </div>
        </div>
    </div>

    <div class="portfolio-info">
        <span>{{ 'portfolioInfo' | translate }}</span>
    </div>

    <div class="project-container">
        <div (mouseover)="showPolloLoco = true" (mouseleave)="showPolloLoco = false" class="project">
            <div *ngIf="showPolloLoco" class="overlay-container">
                <div class="button-container">
                    <a target="_blank" class="github-btn" href="https://github.com/leondorsch/El-Pollo-Loco">
                        <button>Github</button>
                    </a>
                    <a class="live-btn" target="_blank" href="https://elpolloloco.leon-dorsch.de/">
                        <button>Live test</button>
                    </a>
                </div>
                <div class="text-container">
                    <span>El Pollo Loco</span>
                    <span>{{ 'portfolioEPL' | translate }}</span>
                    <span>JavaScript | HTML | CSS</span>
                </div>
            </div>
            <img [class.zoom-img]="showPolloLoco" class="project-img" src="assets/img/Pollo loco.png" alt="">
            <img class="project-shadow" src="assets/img/project-shadow.png" alt="">
        </div>
        <div (mouseover)="showJoin = true" (mouseleave)="showJoin = false" class="project">
            <div *ngIf="showJoin" class="overlay-container">
                <div class="button-container">
                    <a target="_blank" class="github-btn" href="https://github.com/leondorsch/Join">
                        <button>Github</button>
                    </a>
                    <a class="live-btn" target="_blank" href="https://join.leon-dorsch.de/pages/index.html">
                        <button>Live test</button>
                    </a>
                </div>
                <div class="text-container">
                    <span>Join</span>
                    <span>{{ 'portfolioJoin' | translate }}</span>
                    <span>Angular | TypeScript | HTML | CSS | Firebase </span>
                </div>
            </div>
            <img [class.zoom-img]="showJoin" class="project-img" src="assets/img/Join.png" alt="">
            <img class="project-shadow" src="assets/img/project-shadow.png" alt="">
        </div>
        <div (mouseover)="showPokedex = true" (mouseleave)="showPokedex = false" class="project">
            <div *ngIf="showPokedex" class="overlay-container">
                <div class="button-container">
                    <a target="_blank" class="github-btn" href="https://github.com/leondorsch/PokeAPI">
                        <button>Github</button>
                    </a>
                    <a class="live-btn" target="_blank" href="https://pokedex.leon-dorsch.de/">
                        <button>Live test</button>
                    </a>
                </div>
                <div class="text-container">
                    <span>Pokédex</span>
                    <span>{{ 'portfolioPoke' | translate }}</span>
                    <span>JavaScript | HTML | CSS | Api </span>
                </div>
            </div>
            <img [class.zoom-img]="showPokedex" class="project-img" src="assets/img/Pokedex.png" alt="">
            <img class="project-shadow" src="assets/img/project-shadow.png" alt="">
        </div>
        <img class="green-shadow" src="assets/img/Green shadow.png" alt="">
    </div>
</div>