.portfolio-main {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 140px;
}

.portfolio-head {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-left: 100px;
}

.portfolio-head-text {
    >h5 {
        font-size: 90px;
    }

    display: flex;
    justify-content: flex-start;
}

.portfolio-info {
    padding-bottom: 24px;
    max-width: 473px;
    padding-left: 100px;
}

.portfolio-line {
    position: absolute;
    left: 0;
    border: solid 2px #9747FF;
    min-width: 300px;
    height: 0;
}

.project-container {
    padding-left: 100px;
    display: flex;
    z-index: 1;
    flex-wrap: wrap;
    gap: 32px;
}

.project {
    max-width: 603px;
    max-height: 603px;
    border: 1px solid rgba(112, 230, 28, 1);
    background-color: #141D2F;
    border-radius: 15px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.project-img {
    display: flex;
    

}

.zoom-img {
    transform: scale(1.6) translateY(-50px);
    filter: brightness(20%);
    animation: zoom;
    animation-duration: 75ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes zoom {
    0%{
        transform: scale(1) translateY(0px);
    }
    100%{
        transform: scale(1.6) translateY(-50px);
    }
}

.blue-shadow {
    width: 589px;
    position: absolute;
    right: 0;
    top: 2378px;
    display: flex;
    z-index: 0;
}

.green-shadow {
    width: 428px;
    position: absolute;
    left: 0;
    top: 3048px;

}

.project-shadow {
    width: 586.5px;
    height: 276.3719482421875px;
    top: 324px;
    left: 0;
    position: absolute;
    display: flex;
    z-index: -1;
}

.overlay-container {
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 3;
    gap: 64px;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 86px;

    :nth-child(1) {
        width: 137;
        height: 58;
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        gap: 10px;
        border-radius: 10px;
        border-width: 1px;
        border: 1px solid rgba(28, 218, 230, 1);
        background: unset;
        font-size: 23px;
        color: white;

        &:hover {
            background-color: rgba(28, 218, 230, 1);
        }
    }

    :nth-child(2) {
        width: 152;
        height: 58;
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        gap: 10px;
        border-radius: 10px;
        background: rgba(151, 71, 255, 1);
        border: none;
        font-family: Poppins;
        font-weight: 400;
        font-size: 23px;
        line-height: 120%;
        letter-spacing: 0%;
        color: white;

        &:hover {
            background-color: rgba(112, 230, 28, 1);
        }
    }
}

.text-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 350px;
    padding-right: 45px;
    padding-left: 45px;
    gap: 27px;

    :nth-child(1) {
        color: #9747FF;
        font-size: 32px;
        font-weight: 700;
    }

    :nth-child(2) {
        color: black;
        font-size: 23px;
        text-align: center;
    }

    :nth-child(3) {
        color: rgba(112, 230, 28, 1);
        font-size: 23px;
    }
}