<div class="privacy-policy-container">
    <h1>{{'privacy_policy' | translate}}</h1>
    
    <h2>1. {{'privacy_overview' | translate}}</h2>
    <h3>{{'general_info' | translate}}</h3>
    <p>{{'general_info_text' | translate}}</p>
    
    <h3>{{'data_collection' | translate}}</h3>
    <h4>{{'data_responsible' | translate}}</h4>
    <p>{{'data_responsible_text' | translate}}</p>
    
    <h4>{{'data_how_collected' | translate}}</h4>
    <p>{{'data_how_collected_text' | translate}}</p>
    
    <h4>{{'data_usage' | translate}}</h4>
    <p>{{'data_usage_text' | translate}}</p>
    
    <h4>{{'data_rights' | translate}}</h4>
    <p>{{'data_rights_text' | translate}}</p>
    
    <h2>2. {{'hosting' | translate}}</h2>
    <h3>{{'hosting_provider' | translate}}</h3>
    <p>{{'hosting_provider_text' | translate}}</p>
    
    <h2>3. {{'legal_basis' | translate}}</h2>
    <h3>{{'responsible_info' | translate}}</h3>
    <p>{{'responsible_person' | translate}}</p>
    <p>{{'contact_email' | translate}}</p>
    
    <h3>{{'storage_duration' | translate}}</h3>
    <p>{{'storage_duration_text' | translate}}</p>
    
    <h3>4. {{'plugins_tools' | translate}}</h3>
    <h3>{{'google_fonts' | translate}}</h3>
    <p>{{'google_fonts_text' | translate}}</p>
</div>