* {
    margin: 0;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

body {
    background-color: #141D2F;
    color: white;
    overflow-x: hidden;
    height: 100%;
    
}

a {
    text-decoration: none;
    color: white;
    transition: all 125ms ease-in-out;
    &:hover {
        cursor: pointer;
        color: #70E61C;
    }
}

button {
    white-space: nowrap;
    &:hover {
        cursor: pointer;
    }
}

.nav-bar{
    position: sticky;
    top: 0;
    background-color: #141D2F;
    z-index: 99999;
}

input, textarea{
    color: white;
    border: 1px solid #9747FF;
    border-radius: 10px;
    background: #141D2F;
    padding-left: 15px;
    &:hover {
        border: 1px solid #1CDAE6;
        cursor: pointer;
    }
}

input::placeholder{
    color: white;
}

textarea::placeholder{
    color: white;
}

/* poppins-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v22-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* poppins-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/poppins-v22-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}