<div class="footer-container">
    <div class="footer-wrapper">
        <div class="logo-container">
            <a href="#"><img src="assets/img/löwe.png" alt=""></a>
            <a href="imprint">{{ 'legalNotice' | translate }}</a>
        </div>
        <div class="copyright-container">
            <span>&#169; Leon Dorsch 2025</span>
        </div>
        <div class="link-container">
            <a target="_blank" href="https://github.com/leondorsch"><img src="assets/img/github-logo.png" alt=""></a>
            <a target="_blank" href="mailto:leon.dorsch@gmx.de"><img src="assets/img/mail-logo.png" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/leon-dorsch/"><img src="assets/img/linkedin-logo.png"alt=""></a>
        </div>
    </div>

</div>