<div class="nav-bar-main fontPoppins">
    <div class="nav-bar-content">
        <img src="assets/img/löwe.png" alt="">
        <div class="nav-bar-links">
            <div class="links">
                <a href="">About me</a>
                <a href="">Skills</a>
                <a href="">Portfolio</a>
            </div>
            <div class="nav-bar-buttons">
                <button (click)="statusDE=!statusDE" [ngClass]="statusDE ? 'clicked' : 'notClicked'">DE</button>
                <button (click)="statusENG=!statusENG" [ngClass]="statusENG ? 'clicked' : 'notClicked'">EN</button>
            </div>
        </div>
    </div>


</div>