<div class="nav-bar-main fontPoppins">
    <div class="nav-bar-content">
        <img src="assets/img/löwe.png" alt="">
        <div class="nav-bar-links">
            <div class="links">
                <a href="#aboutMe" fragment="aboutMe">{{'aboutMeNav' | translate}}</a>
                <a href="#skills">{{'skillsNav' | translate}}</a>
                <a href="#portfolio">Portfolio</a>
            </div>
            <div class="nav-bar-buttons">
                <button (click)="useLanguage('de')" [class.active]="statusDE">DE</button>
                <button (click)="useLanguage('en')" [class.active]="statusENG">EN</button>
            </div>
        </div>
    </div>


</div>