.nav-bar-main {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 9999;
    
    background-color: #141D2F;
    height: 10vh;
    font-size: 23px;
    
}

.nav-bar-content {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    >img {
        padding-left: 100px;
        height: 88px;
        cursor: pointer;
    }
}

.nav-bar-links {
    display: flex;
    padding-right: 100px;
    gap: 92px;
}

.links {
    display: flex;
    gap: 29px;
}

.nav-bar-buttons {
    display: flex;
    gap: 14px;
    height: 32px;
    width: 92px;
    >button {
        border: 1px solid #70E61C;
        border-radius: 10px;
        font-family: 'Poppins';
        font-size: 18px;
        color: white;
        background-color: unset;
        &:hover {
            border: 1px solid #9747FF;
            background-color: #9747FF;
        }
    }
}

.active {
    pointer-events: none;
    background-color: #70E61C !important;
}